{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load static %}
{% block head_tittle %}Bienvenidos | {{ block.super }}{% endblock %}

<style>
      
      {% block style %}
      	.jumbotron {
      		background-color: #172548 !important;
      		color: white !important;
      	}
      	.fa-5x{
      		font-size: 3em !important;
      	}
      {% endblock %}

</style>

{% block jumbotron %}


{% if request.user.is_staff %}
{{ queryset }}
{% else %}

        <div class="jumbotron">
   <div class="container">

<div class='row'>
	<div class='col-sm-6'>   
		 
        <h1>Probar Django</h1>
        <p class="lead">Un proyecto paraprincipiantes :)</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Únase no más &raquo;</a>
	 </div>
 <div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/Wu_YENZQCc4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

</div>
</div>
</div>
{% endif %}
{% endblock %}



{{ titulo }}<br/>
{{ request.user }}


<hr/>
<br/>

{% block content %}
{% if not request.user.is_staff %}
<div class='row'>
	<div class='col-sm-3 col-xs-12 pull-right'> 
		{% if not user.is_authenticated %}
		<p class='lead text-align-center'>Suscribirse</p>
		
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input class="btn btn-primary" type="submit" value="Enviar" />
		</form>
		{% else %}
		<p class='lead text-align-center'>{{ titulo }}<br/><br/><br/></p>
		<i class="fas fa-gamepad fa-5x"></i>


		{% endif %}
	</div>
	<div class='col-sm-3'>
		<p class='lead text-align-center'>Si estás leyendo esto es que estás copiando<br/><i class="far fa-arrow-alt-circle-up fa-5x" style="color: #3380FF;"></i></p>
	</div>
	<div class='col-sm-3'>
		<p class='lead text-align-center'>De verdad, no copies</p><img src='{% static "img/vault_strong.png" %}'/>
	</div>
	<div class='col-sm-3 '>
		<p class='lead text-align-center'>Mala persona :(<br/><br/><span class="fa-stack fa-5x">

				<i class="fa fa-spinner fa-spin fa-stack-2x"style="color: #3380FF;"></i>
				


		</span></i></p>
	</div>
</div>
<hr/>
{% endif %}
{% endblock %}